In [1]:
# arithmetic operators 

print(2 + 2)
print(2 - 2)
print(2 * 2)
print(2 / 2)

# integer
print(type(2 + 2))

#float
print(type(2/2))

# can use // for integer division - will round down to nearest integer

print(type(84 // 2))
print(85 // 2)

# ** is the exponential operator

print(2 ** 3)

4
0
4
1.0
<class 'int'>
<class 'float'>
<class 'int'>
42
8

In [2]:
# expressions are a combination of values and operators that return a value

print(6 + 6 * 5)

36

In [3]:
# python uses order of operations, use parenthesis to override

print((6 + 6) * 5)

60

In [4]:
# arithmetic functions

# round will round a float to the nearest int

print(round(42.4))
print(round(42.6))

# abs returns absolute value of a number
print(abs(-3))
print(abs(-5.3))

42
43
3
5.3

In [5]:
# Strings

# strings are series of letters that can use single or double quotation marks

print('Hello')
print("Hello")

Hello
Hello

In [6]:
# use double quotes to add a ' without having to escape

print("That's interesting")
print('That\'s interesting')

# not using double quotes or backslash will cause an error
# print('That's interesting')

That's interesting
That's interesting

In [11]:
# the plus operator can be used to concatenate strings

print('Hello ' + 'World\n')

# the multiplication operator will make multiple copies of a string

print(('Hello ' + 'World\n') * 4)

Hello World

Hello World
Hello World
Hello World
Hello World

In [12]:
# get the length of a string

len('hello')

5

In [30]:
# python values are made up of types and the type function tells us what type a value is

print(type('hello'))
print(type(10))
print(type(10.0))
print(type(['list']))
print(type((1,2)))
print(type({'name':'Dave'}))
print(type(True))
print(type(None))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'NoneType'>

In [33]:
# you can convert values using functions

print(type(int('100')))
print(type(str(100)))

<class 'int'>
<class 'str'>

In [37]:
# python will convert comma separated values into a tupe

num = 1,000,0000

print(num)
print(type(num))

#use underscores to separate large numbers
print(1_000_000)

(1, 0, 0)
<class 'tuple'>
1000000